*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    animation: pageDisplay 2s linear;
    background-color: rgba(217, 217, 217, 100%);
}

h1 {
    margin: 0;
    padding: 0;
}

p {
    font-size: 1em;
    margin: 0;
    padding: 0;
}

.div--bg-grey {
    background-color:rgba(109, 103, 93, 100%); 
}

.div--bg-shape-round {
    border-radius: 50%;
}

.img--opacity-0_5 {
    opacity: 0.5;
}

.container--flex {
    display: Flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.page-bottom-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 1.5em;
}

/* Site nav bar styles */

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 3em;
    height: 2em;
    padding: 0.1em;
    background-color: rgba(33, 150, 243, 100%);
}

.nav-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 2em;
    background-color: rgba(33, 150, 243, 100%);
}

.nav-btn-container__link {
    display: inline-block;
    margin: 0.5em;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.nav-btn-container__link:hover {
    background-color: rgba(109, 103, 93, 100%);
    color: white;
}

.about-page .nav-bar .nav-btn-container .about-page,
.project-page .nav-bar .nav-btn-container .project-page,
.contact-page .nav-bar .nav-btn-container .contact-page {
    border-bottom: 3px solid white;
}

/* Site grid styles */

.page-header{
    Display: flex;
    grid-column: 1 / span 4;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Site hero styles */



/* Index page styles */

.twitter-feed {
    display: flex;
    width: 100%;
    height: 5em;
    margin-top: 2em;
}

/* Projects page styles */

.grid-item-project {
    margin: 1em;
    padding: 0.5em;
    color: white;
    background-color: rgba(109, 103, 93, 100%);
    border: solid 1px black;
    border-radius: 5px;
}

.project-img-container {
    display: flex;
    width: 100%;
    height: 250px;
    background-color: white;
    color: black;
    border: 1px solid black;
    z-index: 0;
}

/* About page styles */

.profile-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
    width: 12em;
    height: 12em;
}

.slideshow-container {
    width: 12em;
    height: 12em;
}

/* Contact page styles */

.contact-heading {
    margin: 1em;
    color: white;
}

.location-map {
    margin: 1em;
    height: 12em;
    border: 1px solid black;
    border-radius: 10px;
}

.grid-container--bg-img-mobile {
    background-image: url("images/cockpit-instruments-banner.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

@keyframes pageDisplay {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* Media Queries*/
@media (min-width: 481px) {
    /* Site nav bar styles */
    
    .grid-container {
        grid-template-columns: repeat(8, 1fr);
    }

    .div--display-none {
        display: none;
    }

    .grid-container--bg-img {
        background-image: url("images/scenic-rock-greyscale.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    /* Index page styles */

   

    /* Projects page styles */
    .grid-item-project-1 {
        grid-column: 1 / span 4;
    }
    
    .grid-item-project-2 {
        grid-column: 5 / span 4;
    }
    
    .grid-item-project-3 {
        grid-column: 3 / span 4;
    }

    /* About page styles */
    .grid-item-profile {
        grid-column: 1 / span 4;
        flex-direction: column;
        justify-content: flex-start;
    }

    .grid-item-about {
        grid-column: 5 / span 4;
    }

    /* Contact page styles */
    .grid-item--flex-row {
        flex-direction: row;
        justify-content: space-evenly;
        grid-column: 1 / span 8;
    }

    .grid-item--col-8 {
        grid-column: span 8;
    }

    .grid-container--row-2 {
        grid-template-rows: repeat(2, 1fr);
    }
}

/*--------------------------------------------------------------------- */
@media (min-width: 768px) {
    
    .page-content {
        max-width: 1440px;
    }
    /* Site nav bar styles */
    .page-header{
        Display: flex;
        grid-column: 1 / span 12;
        grid-row: 1 / span 2;
    }

    .nav-bar {
        background-color: rgba(33, 150, 243, 0%);
    }

    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.2em;
        width: 8em;
        height: 8em;
        font-size: 0.70em;
        border-radius: 5px;
        background-color: rgba(25, 118, 210, 100%);
    }
    
    .grid-container {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);

    }

    .div--display-none {
        display: none;
    }

    /* Index page styles */

    .home-pg-bg {
        background-image: url("images/scenic-rock-greyscale2.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .main-heading {
        font-size: 40px;
    }
    
    .index-about-me {
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
        grid-column: 2 / span 5;
        grid-row: 4 / span 8;
    }

    .text-summary {
        font-size: 30px;
        text-align: left;
    }

    .home-footer {
        grid-column: 1 / span 12;
        grid-row: 12 / span 1;
    }

    /* Projects page styles */
    .project-pg-hero {
        background-image: url("images/project-hero-greyscale.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .grid-item-project-1 {
        grid-column: 2 / span 3;
        grid-row: 2 / span 4;
    }
    
    .grid-item-project-2 {
        grid-column: 5 / span 3;
        grid-row: 2 / span 4;
    }
    
    .grid-item-project-3 {
        grid-column: 8 / span 3;
        grid-row: 2 / span 4;
    }

    /* About page styles */
    .grid-item-profile {
        grid-column: 1 / span 6;
        padding: 5em;
    }

    .grid-item-about {
        grid-column: 7 / span 6;
        padding: 5em;
    }

    /* Contact page styles */
    .grid-item--flex-row {
        grid-column: 1 / span 12;
    }

    .grid-item--col-12 {
        grid-column: span 12;
    }
}