*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    /*animation: pageDisplay 2s linear; */
    background-color: white;
}

h1, h3 {
    margin: 0;
    padding: 0;
}

p {
    font-size: 1em;
    margin: 0;
    padding: 0;
}

input, select {
    width: 80%;
    height: 1.5em;
    border: solid 1px black;
    border-radius: 2px;
    margin-bottom: 5px;
}

label {
    width: 80%;
    height: 1em;
    text-align: left;
    margin-bottom: 5px;
}

button {
    margin: 5px;
}

.div--bg-shape-round {
    border-radius: 50%;
}

.flex-container {
    display: Flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.page-bottom-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 1.5em;
    width: 90%;
}

.page-content {
    min-height: 100vh;
}

.page-header{
    Display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 2em;
    grid-column: 1 / span 4;
}


/* Site nav bar styles */

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2em;
    background-color: #0C7489;
    z-index: 1;
}

.nav-bar-lg {
    display: none;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
}

.nav-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.home-logo-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.nav-logo img {
    object-fit: contain;
}

.mobile-menu-container {
    display: block;
    width: 5em;
    height: 2em;
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    float: right;
    width: 1.8em;
    height: 1.8em;
    margin: 0.1em 0.3em;
}

.mobile-menu img {
    object-fit: contain;
}

.nav-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 5em;
    height: 8em;
    background-color: #0C7489;
    border-radius: 0px 0px 0px 2px;
}

.nav-btn-container__link {
    display: inline-block;
    margin: 0.5em;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
/*Used to highlight nav-bar current page*/
.about-page .nav-bar .nav-btn-container .about-page,
.about-page .nav-bar-lg .nav-btn-container .about-page,
.project-page .nav-bar .nav-btn-container .project-page,
.project-page .nav-bar-lg .nav-btn-container .project-page,
.contact-page .nav-bar .nav-btn-container .contact-page,
.contact-page .nav-bar-lg .nav-btn-container .contact-page {
    border-bottom: 3px solid white;
}

/* Site grid styles */

.grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 1 / span 4;
}

/* Index page styles */

.home-pg-bg {
    background-color: #119DA4;
    position: relative;
}

.index-about-me {
    justify-content: flex-start;
    text-align: left;
    margin-top: 2em;
    padding: 1em;
}

/* Projects page styles */

.project-pg-hero {
    background-image: url("../public/project-hero-greyscale.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.grid-item-project {
    justify-content: flex-start;
    margin: 1em;
    padding: 0.5em;
    color: white;
    background-color: rgba(25, 118, 210, 100%);
    border-radius: 2px;
}

.project-heading {
    margin-top: 0.5em;
}

.project-summary {
    margin: 0.5em;
}

.grid-item-project-1 {
    margin-top: 4em;
}

.project-img-container-1 {
    width: 100%;
    height: 250px;
    background-image: url("../public/projects/spend-app.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.project-img-container-2 {
    width: 100%;
    height: 250px;
    background-image: url("../public/projects/coaching.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

/* About page styles */

.profile-img-container {
    margin: 4em 1em 2em 1em;
    width: 80vw;
    height: 80vw;
    background-image: url("../public/profile-pic.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.slideshow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1em;
    border-radius: 2px;
}

.slideshow-slide {
    display: none;
    width: 100%;
}

.slide-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-description {
    font-size: 0.5em;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.about-pg-bg {
    background-image: url("../public/globe-hero-greyscale.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.grid-item-about {
    margin: 0em 1em 4em 1em;
    padding: 1em;
    background-color: white;
} 

/* Contact page styles */

.contact-pg-hero {
    background-image: url("../public/contact-hero-1-greyscale2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.contact-heading-container {
    grid-column: 1 / span 4;
    text-align: center;
}

.contact-heading {
    margin: 2em 1em 2em 1em;
    color: white;
}

.social-links-container {
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 1em;
}

.social-icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 2em;
    height: 2.5em;
}


.social-icon-container img {
    object-fit: contain;
}

.email-form-container {
    height: 15em;
    margin: 1em;
    padding: 1em;
    background-color: rgba(33, 150, 243, 100%);
    border-radius: 2px;   
}

.email-form {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    width: 100%;
}

.email-font {
    color: white;
}

/* Site Footer styles */

.grid-footer {
    justify-content: flex-end;
    margin-top: 1em;
    margin-bottom: 0.1em;
}

.flex-footer {
    justify-content: flex-end;
    margin-top: 1em;
    margin-bottom: 0.1em;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 0.5em;
    width: 2em;
    height: 2em;
}

.footer-logo img {
    object-fit: contain;
}

/* Media Queries*/
/*----------------------------------------------------------------------*/
@media (min-width: 481px) {

    .page-header{
        Display: flex;
        grid-column: 1 / span 8;
        grid-row: 1 / span 1;
        align-items: flex-start;
        height: auto;
    }

    .nav-bar {
        display: none;
    }

    .nav-bar-lg {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        margin: 0;
        background-color: none;
        z-index: 1;
    }
    
    .nav-logo-lg {
        display: block;
        width: 100%;
    }

    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.5em;
        width: 6em;
        height: 6em;
    }

    .nav-btn-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 14em;
        height: 2em;
        margin-left: 3em;
        background-color: #0C7489;
        border-radius: 2px;
    }
    
    .grid-container--8x7 {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(7, 1fr);
    }

    .grid-container--8x5 {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }

    .grid-container--8x4 {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .grid-container--8x3 {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .div--display-none {
        display: none;
    }

    /* Index page styles */

    .index-about-me {
        align-items: flex-start;
        grid-column: 2 / span 4;
        grid-row: 2 / span 2;
        margin: 0;
    }

    /* Projects page styles */
    
    .grid-item-project-1 {
        margin: 1em;
        grid-column: 1 / span 4;
        grid-row: 2 / span 3;
    }

    .grid-item-project-2 {
        grid-column: 5 / span 4;
        grid-row: 2 / span 3;
    }

    /* About page styles */
    .grid-item-profile {
        justify-content: flex-start;
        grid-row: 2 / span 2;
        margin: 1em 1em 1em 1em;
        padding: 0;
    }

    .profile-img-container {
        margin: 0;
        width: 12em;
        height: 12em;
    }

    .grid-item-about {
        grid-column: 5 / span 4;
        grid-row: 2 / span 3;
        margin: 1em 1em 4em 1em;
        border-radius: 2px;
    }

    .text-summary--sm {
        font-size: 0.8em;
    }

    /* Contact page styles */

    .contact-heading-container {
        grid-column: 1 / span 8;
        text-align: center;
    }
    
    .contact-heading {
        margin: 1em 1em 1em 1em;
    }
    
    .social-links-container {
        grid-column: 1 / span 8;
    }
    
    .social-link-img {
        width: 3em;
    }
    
    .email-form-container {
        grid-row: 1 / span 2;   
    }
   
    /* Footer styles */

    .grid-footer {
        height: auto;
        grid-column: 1 / span 8;
        grid-row: 4 / span 1;
    }
}

/*--------------------------------------------------------------------- */
@media (min-width: 768px) {
    
    .page-content {
        max-width: 1440px;
    }

    /* Site nav bar styles */
    .page-header{
        Display: flex;
        grid-column: 1 / span 12;
        grid-row: 1 / span 1;
    }

    .nav-bar-lg {
        margin: 0;
        background-color: rgba(33, 150, 243, 0%);
    }

    .nav-btn-container {
        margin: 0;
    }

    .grid-container--12x5 {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }

    .grid-container--12x4 {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .grid-footer {
        grid-column: 1 / span 12;
        grid-row: 5 / span 1;
    }

    /* Index page styles */
    
    .main-heading {
        font-size: 40px;
    }
    
    .index-about-me {
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
        grid-column: 2 / span 5;
        grid-row: 2 / span 3;
    }

    .text-summary {
        font-size: 1em;
        text-align: left;
    }

    /* Projects page styles */
    
    .project-pg-hero {
        background-image: url("../public/project-hero-greyscale.jpg");
    }
    
    .grid-item-project-1 {
        grid-column: 2 / span 5;
        grid-row: 2 / span 3;
    }

    .grid-item-project-2 {
        grid-column: 7 / span 5;
        grid-row: 2 / span 3;
    }

    /* About page styles */

    .grid-item-profile {
        grid-column: 1 / span 6;
        grid-row: 2 / span 6;
        margin: 1em;
    }

    .profile-img-container {
        margin: 0;
        width: 18em;
        height: 18em;
    }


    .grid-item-about {
        grid-column: 7 / span 5;
        grid-row: 2 / span 8;
        background-color: white;
    }

    /* Contact page styles */

    .contact-heading-container {
        grid-column: 1 / span 12;
        grid-row: 2 / Span 1;
    }

    .contact-heading {
        margin: 2em 1em 1em 0em;
    }

    .social-links-container {
        grid-column: 1 / span 12;
        grid-row: 4 / span 1;
    }

    .social-link-img {
        width: 5em;
    }

    .email-form-container {
        grid-column: 1 / span 4;
        grid-row: 1 / span 4;
        padding: 1em;  
    }
}