*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    animation: pageDisplay 2s linear;
    background-color: rgba(217, 217, 217, 100%);
}

/* Site nav bar styles */

.nav-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4em;
    background-color: rgba(44, 84, 114, 100%);
}

.nav-bar-container__btn {
    display: inline-block;
    padding: 0.5em;
    margin: 0.5em;
    border: 1px solid rgba(109, 103, 93, 100%);
    background-color:rgba(217, 217, 217, 100%);
    border-radius: 5px;
    box-shadow: 4px 4px 10px black;
    font-size: 0.75em;
    text-align: center;
    transition: background-color 0.5s linear;
    transition: color 0.5s linear;
}

.nav-bar-container__btn:hover {
    background-color: rgba(109, 103, 93, 100%);
    color: white;
}

/* Site grid styles */

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 1 / span 4;
}

/* Index page styles */

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hero-container__img {
    display: block;
    width: 100%;
}

/* Projects page styles */

.grid-item-project {
    margin: 1em;
    padding: 0.5em;
    color: white;
    background-color: rgba(109, 103, 93, 100%);
    border: solid 1px black;
    border-radius: 5px;
}

.project-img-container {
    display: flex;
    width: 100%;
    height: 250px;
    background-color: white;
    color: black;
    border: 1px solid black;
    z-index: 0;
}

@keyframes pageDisplay {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* Media Queries*/
@media (min-width: 481px) {
    /* Site nav bar styles */
    .nav-bar-container {
        justify-content: flex-end;
    }
    
    /* Projects page styles */
    .grid-container {
        grid-template-columns: repeat(8, 1fr);
    }

    .grid-item-project-1 {
        grid-column: 1 / span 4;
    }
    
    .grid-item-project-2 {
        grid-column: 5 / span 4;
    }
    
    .grid-item-project-3 {
        grid-column: 3 / span 4;
    }
}

@media (min-width: 768px) {
    /* Site nav bar styles */
    .nav-bar-container {
        justify-content: flex-end;
    }
    
    /* Projects page styles */
    .grid-container {
        grid-template-columns: repeat(12, 1fr);
    }

    .grid-item-project-1 {
        grid-column: 1 / span 4;
    }
    
    .grid-item-project-2 {
        grid-column: 5 / span 4;
    }
    
    .grid-item-project-3 {
        grid-column: 9 / span 4;
    }
 
    /* Index page styles */
    .hero-container__img {
        width: 80%;
    }
}